server:
  port: 8765
spring:
  application:
    name: API-Gateway-Service
  cloud:
    gateway:
      mvc:
        routes:
          - id: CART-SERVICE
            uri: lb://CART-SERVICE
            predicates:
              - Path=/cart/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/					